.account-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.account-page .hamburger {
  display: none;
}

.account-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  overflow-y: auto;
  padding:2rem;
}
  
.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
  
.account-input {
    width: 200px;
    height: 40px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b2e05;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    background: #fff8ec;
    font-size: 15px;
}

.account-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
  
.pixel-button {
    margin-top: 1rem;
    background: #8b5a2b;
    color: #fff8ec;
    border: 3px solid #4b2e05;
    padding: 0.6rem 1.2rem;
    box-shadow: 3px 3px 0 #4b2e05;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
}
  
.pixel-button:hover {
    background: #a16b36;
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 #4b2e05;
}