.Goals{
    width:402px; 
    min-height:100vh; 
    display:flex; 
    position:relative;
    border-radius:24px; 
    border:1px solid #1f1f1f;
    background: #f4e7d3;
    background-size: 32px 32px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Press Start 2P", monospace;
    color: #4b2e05;
}

.goal-content{
  flex: 1;             
  padding: 1rem;
  overflow-y: auto;   
}

.Goals h1 {
  font-family: "Press Start 2P", monospace;
  letter-spacing: 1px;
  margin-left: 10px;
}

.edit-button{
  background-color: #8b5a2b;
  color: #fff8ec;
    width: 20%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
    margin-left: 20px;
    font-family: "Press Start 2P", monospace;
    cursor: pointer;
    margin-bottom: 15px;
}

.edit-button:hover{
    background: #a16b36;
    box-shadow: 2px 2px 0 #4b2e05;
    border-radius: 8px;
}

.add-button{
  margin-top: 1rem;
  background-color: #8b5a2b;
  color: #fff8ec;
  border: 3px solid #4b2e05;
  padding: 0.6rem 1.2rem;
  box-shadow: 3px 3px 0 #4b2e05;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  width: 93%;
  height: 12%;
    margin-left: 10px;
    border-radius: 10px;
    font-family: "Press Start 2P", monospace;
    
}

.add-button:hover{
    background: #a16b36;
    box-shadow: 2px 2px 0 #4b2e05;
    border-radius: 8px;
}

.goal-content{
    border:#b9895a;
}

.save-button{
  margin-top: 1rem;
  background-color: #8b5a2b;
  color: #fff8ec;
  border: 3px solid #4b2e05;
  padding: 0.6rem 1.2rem;
  box-shadow: 3px 3px 0 #4b2e05;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  width: 50%;
    margin-left: 100px;
    border-radius: 10px;
    font-family: "Press Start 2P", monospace;

}

.save-button:hover{
    background: #a16b36;
    box-shadow: 2px 2px 0 #4b2e05;
    border-radius: 8px;
}

.back-button{
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #8b5a2b;
  color: #fff8ec;
  border: 3px solid #4b2e05;
  padding: 0.6rem 1.2rem;
  box-shadow: 3px 3px 0 #4b2e05;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  width: 50%;
  margin-left: 100px;
  border-radius: 10px;
  font-family: "Press Start 2P", monospace;
}

.back-button:hover{
    background: #a16b36;
    box-shadow: 2px 2px 0 #4b2e05;
    border-radius: 8px;
}

input{
    background: #fff8ec;
    border: 4px solid #5a3c15;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #b9895a;
    width:65%;
    margin-left:10px;
    font-family: "Press Start 2P", monospace;
}