.register-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.register-page .hamburger {
  display: none;
}

.register-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
  
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
  
.register-input {
    width: 200px;
    height: 40px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b2e05;
    text-align: center;
    font-family: "Press Start 2P", monospace;
    background: #fff8ec;
    font-size: 15px;
}

.register-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
  
.pixel-button {
    margin-top: 1rem;
    background: #8b5a2b;
    color: #fff8ec;
    border: 3px solid #4b2e05;
    padding: 0.6rem 1.2rem;
    box-shadow: 3px 3px 0 #4b2e05;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
}
  
.pixel-button:hover {
    background: #a16b36;
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 #4b2e05;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-box {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.popup-box p {
  margin-bottom: 15px;
  font-size: 16px;
}

.popup-close {
  background-color: #8b5a2b;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
