.login-page {
    background: #f4e7d3;
    background-size: 32px 32px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: "Press Start 2P", monospace;
    color: #4b2e05;
}

.login-content {
    flex: 1;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
  
.login-input {
    width: 200px;
    height: 40px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #4b2e05;
    text-align: center;
    font-family: "Press Start 2P", monospace;
    background: #fff8ec;
    font-size: 15px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
  
.pixel-button {
    margin-top: 1rem;
    background: #8b5a2b;
    color: #fff8ec;
    border: 3px solid #4b2e05;
    padding: 0.6rem 1.2rem;
    box-shadow: 3px 3px 0 #4b2e05;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
}
  
.pixel-button:hover {
    background: #a16b36;
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 0 #4b2e05;
}